body {
	font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
}
nav {
	height: 60px;
	width: 100%;
	z-index: 100;
	background: none;
 
  	position: fixed;
  	top: 0;
}

nav div {
	display: block;
}

.userMenu {
	height: 30px;
	background: #333;
}

.userMenu_list {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.userMenu_item {
	display: inline-block;
	margin-right: 3px;
	margin-left: 3px;
}

.userMenu_item a{
	color: #FED900;
	font-weight: 600;
}

.userMenu_list .userMenu_divider {
	color: #FED900;	
}

.products-list {
	margin-top: 70px;
}

.product-container {
	display: inline-block;
	height: 400px;
}

.product-img {
	height:300px;
}

.product-img img {
	width: 80%;
	height: 100%;
}


.product-properties {
	margin: 10px 0;
	width: 80%;
}

.product-properties div{
	display: inline-block;

}

.product-name {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.product-price {
	float: right;
	font-weight: 600;
}
.product-options {
	margin: 5px 0 ;
	width: 80%;

}

.buy-button {
	background: #fff;
	border:none;
	font-size: 15px;
	font-weight: 550;
	border: 1px solid #eee;
}

.add {
	float: right;
	color:#777;
	cursor: pointer;
	font-size: 17px;
}

.add-hidden {
	
}

.add-to-cart {

}
.remove {
	float: right;
	color: #777;
	cursor: pointer;
	font-size: 17px;
}
.product-options div {
	display: inline-block;
}

.checkout-prods {
	margin-top: 50px;
}

.checkout-prod {
	height: 160px;
	border-bottom: 1px solid #f1f1f1;
	position: relative;
	
}
.checkout-prod div {
	display: inline-block;
	margin-left: 15px;

}

.checkout-prod-img {
	height: 140px;
	width: 100px;
}

.checkout-prod-img img{
	height: 100%;
	width: 100%;
}

.checkout-prod-properties {
	height: 150px;
	position: absolute;
}

.checkout-prod-properties div {
	display: block;
}

.checkout-prod-name {
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.checkout-prod-price {
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.remove-cart {
	position: absolute;
}

.remove-cart a{
	text-decoration: none;
	color: black;
}

.checkout {
	text-align: center;
}

.checkout-btn {
	background: #FED900;
	height: 50px;
	width: 145px;
	font-size: 17px;
	font-weight:600;
	text-transform: uppercase;
	color: #333;
	border: none;
	margin-top: 20px;
}

.userMenu_item a:hover{
	color: #FED900;
	text-decoration: none;
}

.userMenu_item a:focus{
	color: #FED900;
	text-decoration: none;
}

.add:hover {
	color:#FED900;
	text-decoration: none;
}

.remove:hover {
	color:#FED900;
	text-decoration: none;
}

.buy-button:hover{

}

.remove-cart a:hover {
	text-decoration: none;
	color: black;
}

.checkout-btn:hover {
	background: #333;
	color: #FED900;
}

.checkout-btn:focus {
	background: #333;
	color: #FED900;
}